[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
ipython = "*"
django-environ = "*"
pillow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
